.container{
  display: flex;
}
.main-div{
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.main-div img{
  width: 200px;
}
.title-div{
  display: flex;
  flex-direction: column;
}
button{
  width: 50px;
  height: 50px;
  font-size: 19px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(24, 65, 153);
  border: none;
  border-radius: 5px;
}