 body{
  background-color: gray;
 }
 
 td, th {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
}

table {
  border-collapse: collapse;
  width: max-content;
  background-color: rgb(17, 17, 17);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container-table{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

th , td {
  height: 50px;
  padding: 10px;
}
input{
  width: 200px;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.39);
}
input:hover{
  box-shadow: 0px 0px 50px rgba(32, 28, 28, 0.699) ;
}
.users-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
select{
  width: 100px;
  height: 40px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.39);
  border: 2px solid rgba(255, 255, 255, 0.233);
  border-radius: 5px;
}
select:hover{
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.74) ;
}
